.main{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    flex-direction: column;
}

.publicacoes{
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.texto{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.projetos{
    background: white;
    border: 0.2px solid black;
    border-radius: 3px;
    width: 30rem;
}
.projetos #imgIni {
    width: 500px;
    height: 500px;
    object-fit: cover;
}
.projetos #Titulo, #autor{
    padding-left: 10px;
    padding-bottom: 10px;
}

#projetosIni .projeto {
    display: flex;
    align-items: center;
    margin: 10px;
    border-bottom: 0.5px solid black;
}
#projetosIni .projeto img{
  width: 9rem;
  height: 9rem;
}
.postagens{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
/* area de texto */
.editorTexto{
    width: 30rem;
    background: rgba(135, 207, 235, 0.144);
    padding: 10px;
    gap: 3px;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    justify-content: center;
}
.editorTexto input{
  width: 30%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0.1px solid black;
  outline: none;
}
.editorTexto p{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.estagio{
    width: 30rem;
    height: 18rem;
    background: rgba(211, 210, 210, 0.836);
    display: flex;
    flex-direction: column;
}
.tituloPost{
    padding: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.tituloPost h2{
    display: flex;
    max-width: 400px;
    flex-wrap: wrap;
}
.textoEstagio p{
    padding: 2%;
    text-align: justify;
}


